@import "normalize";
@import "2018/_variables";
@import "2018/_breakpoints";
@import "2018/_typography";
@import "2018/_header";
@import "2018/_footer";

#page-content {
  > section {
    background: $peach;

    &:nth-child(even) {
      background: $white;
    }
  }

  .section-content {
    max-width: $content-width;
    padding: 1.33rem;

    @include tablet-landscape-up {
      margin: 0 auto;
      padding: 4rem 1.33rem;
    }

    @include desktop-up {
      padding: 4rem 0;
    }
  }

}
