@import "normalize";

// sizes & other variables
$narrow-column: 10rem;
$content-width: 68rem;

// brand colors
$red: #ff3e1e;
$blue: #29335c;
$gold: #f3a712;
$teal: #17a398;
$cream: #f0cea0;
$black: #29335C;
$white: #fff;

// typography & overrides
html {
  background-color: $white;
  color: $black;
  font-family: "Montserrat", "Lato", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.45;
}

h1, h2, h3, h4 {
  font-family: "Rubik";
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
  color: $black;
}

h1 {
  margin-top: 0;
  font-size: 3.157em;

  span {
    display: block;
    font-size: 0.66em;
  }
}

h2 {font-size: 2.369em;}
h3 {font-size: 1.777em;}
h4 {font-size: 1.333em;}

a {
  border-bottom: 1px solid $blue;
  color: $blue;
  text-decoration: none;
  transition: all 0.1s ease;

  &:visited { color: $blue; }
  &:hover, &:active, &:focus {
    border-color: $red;
    color: $red;
    outline: none;
  }
}

p { margin-bottom: 1.3em; }

small,
.font_small { font-size: 0.75em; }

// main page styles
header {
  align-items: center;
  display: flex;
  max-width: $content-width;

  #logo {
    border: none;

    img {
      $calc: $narrow-column - 1rem;
      margin: 0.5rem;
      width: $calc;
    }
  }

  nav {
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      list-style: none;
      padding: 0;

      li {
        padding: 0.1rem 0.25rem;
      }
    }
  }

  .menu {
    padding: 0 1rem;
  }
}

main {
  display: flex;
  flex-direction: row;
  max-width: $content-width;
  min-height: 1350px;
  position: relative;
}

// logo banner
#banner {
  position: absolute;
  left: 0;
  top: 1rem;
  width: $narrow-column;
}

// primary content
#page-content {
  width: 100%;

  section {
    background: blue;
    padding: 0 0 0 $narrow-column;

    &#event {
      background: $red;

      hr {
        background-image: linear-gradient(to right,
          rgba(0, 0, 0, 0), $red, rgba(0, 0, 0, 0)
        );
      }
    }

    &#presenters {
      background: $teal;

      hr {
        background-image: linear-gradient(to right,
          rgba(0, 0, 0, 0), $teal, rgba(0, 0, 0, 0)
        );
      }
    }

    &#sponsors {
      background: $gold;

      hr {
        background-image: linear-gradient(to right,
          rgba(0, 0, 0, 0), $gold, rgba(0, 0, 0, 0)
        );
      }
    }

    &#code_of_conduct {
      background: $blue;

      hr {
        background-image: linear-gradient(to right,
          rgba(0, 0, 0, 0), $blue, rgba(0, 0, 0, 0)
        );
      }
    }

    .section-content {
      background: $white;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 2rem 2rem 0;

      hr {
        border: 0;
        flex: 0 0 100%;
        height: 1px;
        margin: 2rem 0 0;
      }

      .column-wide {
        flex: 0 0 100%;
      }

      .column {
        flex: 1 1;
        margin-left: 2rem;

        &:first-of-type { margin-left: 0; }
      }
    }
  }
}
