@import "normalize";
@import "2018/_variables";
@import "2018/_typography";
@import "2018/_header";
@import "2018/_footer";

#page-content {
  > section {
    background: $peach;

    &:nth-child(even) {
      background: $white;
    }
  }

  .section-content {
    margin: 0 auto;
    padding: 4rem 0;
    width: $content-width;
  }
}
