@import "normalize";
@import "2018/_variables";
@import "2018/_typography";
@import "2018/_header";

#page-content {
  > section {
    background: $peach;

    &:nth-child(even) {
      background: $white;
    }
  }

  .section-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    width: $content-width;

    .column-wide {
      flex: 0 0 100%;
    }

    .column {
      flex: 1 1;
      margin-left: 2rem;

      &:first-of-type { margin-left: 0; }
    }
  }
}
