%section#event
  .section-content
    %h2 About
    %p
      Open Source & Feelings returns for another year! OS&F is a single-track
      conference highlighting the people behind the code and their experience.
    %h3
      Code of Conduct:
      %br
      The Short Version
    %p
      Open Source & Feelings is dedicated to a safe, inclusive, welcoming,
      and harassment-free conference experience for everyone.
    %p
      All attendees, speakers, sponsors and volunteers at Open Source
      & Feelings are required to abide by the code of conduct.

    %h4 Need Help?
    %p
      Email the organizers at
      %a{ href:"mailto:conduct@osfeels.com" } conduct@osfeels.com
      or use the phone number found in the emails we send you.
    %p.button-bar
      %a.button{ href: "/2018/conduct" } Read Our Full CoC
%section#presenters
  .section-content
    %h2 Presenters
    %p
      The call for presenters is live!
    %p
      We want to hear from you! We want to hear about your experiences creating
      code, creating community, creating out world.
    %p
      Presenters are paid for their time, and are connected to the larger OS&F
      community! Learn more about the CFP process, what to expect as an OS&F
      presenter, and the kinds of presentations we are looking for on our CFP
      site.
    %p.button-bar
      %a.button{ href: "https://cfp.osfeels.com/events/osf-2018", target: "_blank" } Apply to Present
%section#sponsors
  .section-content
    %h2.column-wide Sponsor OS&F!
    :markdown
      **Open Source & Feelings 2018 will be Friday and Saturday, 26 & 27 October
      2018at the Seattle Central Library's Microsoft Auditorium.** Like our
      previous events, this conference will be single-track.

      Your sponsorship makes possible our most lofty goals for 2018, including
      doubling compensation for our presenters and building an attendee grant
      program to assist attendees with tickets, travel, childcare, and more.

      Please read our [2018 Prospectus](/2018/prospectus) to learn more about
      sponsorship opportunities for individuals and companies.
    %p.button-bar
      %a.button{ href: "/2018/prospectus" } Sponsor OS&F
%section#mailing-list
  .section-content
    %form#mc-embedded-subscribe-form{ action: "//osfeels.us11.list-manage.com/subscribe/post?u=a5ec8ed0cd20f036f3a0e10cf&amp;id=3d4585f1c0", method: "post", name: "mc-embedded-subscribe-form", novalidate: "", target: "_blank" }
      %h2
        %label{ for: "mce-EMAIL" }
          Sign up for the latest news from OS&F
      %p
        %input#mce-EMAIL{ name: "EMAIL", placeholder: "your email address", required: "", type: "email", value: "" }
        %div{ style: "position: absolute; left: -5000px;" }
          %input{ name: "b_a5ec8ed0cd20f036f3a0e10cf_3d4585f1c0", tabindex: "-1", type: "text", value: "" }
        %button#mc-embedded-subscribe{ name: "subscribe", type: "submit", value: "sign up!" } sign up!
