%section#event
  .section-content
    %h2 About
    %p
      Open Source & Feelings returns for another year! OS&F is a single-track
      conference highlighting the people behind the code and their experience.
    %h3
      Code of Conduct:
      %br
      The Short Version
    %p
      Open Source & Feelings is dedicated to a safe, inclusive, welcoming,
      and harassment-free conference experience for everyone.
    %p
      All attendees, speakers, sponsors and volunteers at Open Source
      & Feelings are required to abide by the code of conduct.

    %h4 Need Help?
    %p
      Email the organizers at
      %a{ href:"mailto:conduct@osfeels.com" } conduct@osfeels.com
      or use the phone number found in the emails we send you.
    %p.button-bar
      %a.button{ href: "/2018/conduct" } Read Our Full CoC
%section#presenters
  .section-content
    %h2 Presenters
    %p
      The call for presenters is live!
    %p
      We want to hear from you! We want to hear about your experiences creating
      code, creating community, creating out world.
    %p
      Presenters are paid for their time, and are connected to the larger OS&F
      community! Learn more about the CFP process, what to expect as an OS&F
      presenter, and the kinds of presentations we are looking for on our CFP
      site.
    %p.button-bar
      %a.button{ href: "https://cfp.osfeels.com/events/osf-2018", target: "_blank" } Apply to Present
%section#code_of_conduct
  .section-content
    %h2.column-wide Code of Conduct (short version)
    .column
      %p
        Open Source & Feelings is dedicated to a safe, inclusive, welcoming,
        and harassment-free conference experience for everyone.
      %p
        All attendees, speakers, sponsors and volunteers at Open Source
        & Feelings are required to abide by the code of conduct.

      %h3 Need Help?
      %p
        Email the organizers at
        %a{ href:"mailto:conduct@osfeels.com" } conduct@osfeels.com
        or use the phone number found in the emails we send you.
      %p
        %a{ href: "/2018/conduct" } Read the full version of our code of conduct
-# %section#sponsors
-#   .section-content
-#     %h2.column-wide Sponsor OS&F!
-#     .column
-#       :markdown
-#         Open Source & Feelings 2018 will be Friday and Saturday, 26 & 27 October
-#         2018 at the Seattle Central Library's Microsoft Auditorium. Like our
-#         previous events, this conference will be single-track. We're writing you
-#         today to thank you for your support in 2016, and to invite you to
-#         participate in the upcoming 2018 conference.
-#
-#         In 2016, with your support, Open Source & Feelings produced an inclusive, thoughtful followup to our 2015 debut. Highlights from the 2016 conference include:
-#
-#         > here are some highlights
-#
-#         We're asking that you sponsor the 2018 edition of Open Source & Feelings. Your sponsorship makes possible our most lofty goals for 2018, including doubling compensation for our presenters and building an attendee grant program to assist potential attendees with all manner of costs, including tickets, travel, childcare, and more.
-#
-#         By sponsoring Open Source & Feelings, your organization makes a positive, lasting impression with hundreds of Open Source community members. All of whom have a keen interest in making the tech sector a more inclusive and empathetic community! Here's Open Source & Feelings 2016 by the numbers:
-#
-#         - **~250** attendees, presenters, volunteers, and sponsors at OS&F 2016
-#         - **600+** email list subscribers
-#         - **1500+** Twitter followers
-#         - **10,000+** presentation views split between YouTube and Confreaks.tv
-#         - **83,000+** average monthly impressions on Twitter leading up to OS&F 2016
-#
-#         Begin your company's engagement with the OS&F community using some
-#         of the following ideas:
-#
-#         ### General Sponsorship Opportunities
-#
-#         #### $1,000 Contributor Tier: Help Make OS&F Happen
-#           - Reserved for individuals and community groups
-#           - Name and URL included in email blasts
-#           - Able to add swag to the swag bags
-#           - Thanked by name at the beginning of each day on stage.
-#           - Tweet thank you from OS&F twitter account
-#           - **1** ticket total
-#
-#         #### $6,000 Committer Tier: In-Venue Presence
-#           - Logo included on video recordings
-#           - Access to dedicated space to engage with attendees
-#           - Invitation to provide signage (banner, poster, etc) for display on/near stage
-#           - Branded slides between talks
-#           - **3** tickets total
-#
-#         ### Exclusive Sponsorship Opportunities!
-#
-#         Each of these sponsorship tiers are limited to a single sponsor. Every
-#         package here includes the benefits of the **Committer** described above
-#         plus **6** complementary tickets and other exclusive benefits.
-#
-#         #### $8,000 Maintainer Tier (exclusive)
-#
-#         - **Live Captioning Sponsor**: Help us make OS&F accessible to everyone by sponsoring our live-captioning effort.
-#         - **Conference Badges**: Place your company name and logo on each OS&F 2018 attendee badge!
-#         - **Catering Sponsor**: Your company will be announced between presentation breaks as the official sponsor of tasty snacks and refreshing beverages.
-#         - **Attendee Gift Apparel**: Place your company name and logo on the official OS&F 2018 socks (or similar apparel item).
-#
-#         #### $20,000 Benefactor Tier (exclusive)
-#
-#         - **Evening Event**: Sponsorship of after-hours events for presenters and attendees. Possibilities include karaoke, catered reception, speaker dinner, steamboat ice cream cruise and more. This tier includes signage, acknowledgement and thanks, and more. Let's brainstorm together!
-#     %hr
-# %section#diversity_statement
-#   .section-content
-#     %h2= titlelize("diversity_statement")
-#     %hr
