%section#prospectus
  .section-content
    %h2.column-wide OS&F 2018 Sponsorship Prospectus
    .column
      :markdown
        ### Event Details
        - **When:** Friday and Saturday, 26 & 27 October 2018
        - **Size:** Approximately 250 attendees
        - **Venue:** [Microsoft Auditorium @ Seattle Central Library](https://www.spl.org/hours-and-locations/central-library)
        - **Contact:** [email](mailto:hello@osfeels.com) [twitter](https://twitter.com/osfeels)
  .section-content
    .column
      :markdown
        ### Why Sponsor OS&F?
        Open Source & Feelings (OS&F) is a conference dedicated to authentically
        designing and reshaping a supportive, inclusive, open source culture&mdash;to
        uncover and implement design patterns for a vibrant, skilled, and
        inclusive community.

        In 2018, we are producing the third iteration of Open Source & Feelings,
        and we invite you to be a part of this amazing community event. Independent,
        community-focused events like OS&F cannot happen without the supporters like you.

        Your sponsorship makes possible our most lofty goals for 2018, including
        doubling compensation for our presenters and building an attendee grant
        program to assist potential attendees with all manner of costs, including
        tickets, travel, childcare, and more.
    .column
      :markdown
        ### Measure the impact
        By sponsoring Open Source & Feelings, your organization makes a positive,
        lasting impression with hundreds of Open Source community members. All of
        whom have a keen interest in making the tech sector a more inclusive and
        empathetic community!

        Here's Open Source & Feelings 2016 by the numbers:

        - **~250** attendees, presenters, volunteers, and sponsors at OS&F 2016
        - **600+** email list subscribers
        - **1,500+** Twitter followers
        - **10,000+** presentation views split between YouTube and Confreaks.tv
        - **83,000+** average monthly impressions on Twitter leading up to OS&F 2016
  .section-content
    %h3.column-wide General Sponsorship Opportunities
    .column
      :markdown
        #### $1,000 Contributor: Help OS&F Happen
        - Reserved for individuals and community groups
        - Name and URL included in email blasts
        - Able to add swag to the swag bags
        - Thanked by name at the beginning of each day on stage.
        - Tweet thank you from OS&F twitter account
        - **1** complimentary ticket total
    .column
      :markdown
        #### $6,000 Committer: In-Venue Presence
        - Logo included on video recordings
        - Access to dedicated space to engage with attendees
        - Invitation to provide signage (banner, poster, etc) for display on/near stage
        - Branded slides between talks
        - **3** complimentary tickets total
  .section-content
    .column
      :markdown
        ### Exclusive Sponsorship Opportunitites
        Each item of these sponsorship tiers are limited to a single sponsor.
        Every package here includes the benefits of the Committer described above
        plus 6 complimentary tickets and other exclusive benefits.

        #### $8,000 Maintainer Tier (each line item is an exclusive sponsorship)
        - **Live Captioning Sponsor:** Help us make OS&F accessible to everyone by sponsoring our live-captioning effort.
        - **Conference Badges:** Place your company name and logo on each OS&F 2018 attendee badge!
        - **Catering Sponsor:** Your company will be announced between presentation breaks as the official sponsor of tasty snacks and refreshing beverages.
        - **Attendee Gift Apparel:** Place your company name and logo on the official OS&F 2018 socks (or similar apparel item).

        #### $20,000 Benefactor Tier (exclusive)
        **Evening Event:** Sponsorship of after-hours events for presenters and attendees.
        Possibilities include karaoke, catered reception, speaker dinner, steamboat
        ice cream cruise and more. This tier includes signage, acknowledgement and thanks, and more. Let's brainstorm together!
  .section-content
    .column
      :markdown
        ### Thank you for your time and consideration.
        Without you and your support, OS&F 2018 will not be everything it could
        and should be. Please [reach out any time](mailto:hello@osfeels.com) with
        any questions or concerns. We look forward to hearing from you

        Warmest regards,

        The OS&F Organizer Team
