!!! 5
%html{ lang: "en" }
  %head
    %title Open Source &amp; Feelings 2018
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Montserrat:400,700|Rubik:400,700", "2018"
    %link{ rel: "icon", href: "/images/favicon.ico", type: "image/x-icon" }
    %meta{ content: "width=device-width, initial-scale=1.0", name: "viewport" }
  %body
    = partial :header2018
    %main
      %img#banner{ src: '/images/2018/osftall.svg', alt: 'Open Source & Feelings logo' }
      #page-content= yield
    = partial :footer2018
