!!! 5
%html{ lang: "en" }
  %head
    %title Open Source &amp; Feelings 2018
    = stylesheet_link_tag "2018"
    %link{ rel: "icon", href: "/images/favicon.ico", type: "image/x-icon" }
    %meta{ content: "width=device-width, initial-scale=1.0", name: "viewport" }
  %body
    = partial :header2018
    %main#page-content= yield
    = partial :footer2018
