header {
  background: $teal-dark;
}

#top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;

  @include tablet-landscape-up {
    left: 1rem;
    position: absolute;
    right: 0;
    top: 0;
  }

  @include big-desktop-up {
    position: static;
  }

  a {
    align-items: center;
    background: transparent;
    color: $white;
    display: flex;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0;
    text-align: center;

    &:hover, &:focus {
      background: linear-gradient(to bottom, transparent 90%, $gold-highlight 90%);
      outline: none;
    }

    &.nav-tickets {
      background: $black;
      padding: 1rem 2rem;

      &:hover, &:focus {
        border: none;
        color: $gold-highlight;
      }
    }
  }
}

.interior-header {
  display: flex;

  .interior-masthead {
    color: $white;
    flex: 1;
    font-family: $header-font-family;
    margin-left: 1rem;

    small {
      color: $gold-light;
      font-size: 0.33em;
    }
  }

  #top {
    flex: 1 1 50%;

    a {
      height: 100%;

      &.nav-tickets {
        padding: 0 2rem;
      }
    }
  }
}

.exterior-header {
  color: $white;
  font-family: $header-font-family;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: $header-width;

  @include tablet-landscape-up {
    position: relative;
    flex-direction: column;
  }

  @include desktop-up {
    flex-direction: row;
  }

  .exterior-logo {
    display: none;
    margin: 4rem 2rem 1rem;

    img {
      display: block;
      margin: 0 auto;
      width: 25%;
    }

    @include tablet-landscape-up {
      display: block;
    }

    @include desktop-up {
      img { width: 100%; }
    }
  }

  .exterior-lead {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet-landscape-up {
      margin: 0 1.33rem;
    }

    @include desktop-up {
      margin: 4rem 0;
    }

    @include big-desktop-up {
      margin: 0;
    }

    .exterior-masthead {
      margin-right: 1rem;
      margin-bottom: 0;
    }

    .exterior-info {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin: 0 1rem 1rem 0;

    }

    .exterior-info--event {
      color: $gold-light;
      font-size: 2rem;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0.5rem 0;
      }
    }

    .exterior-info--tickets {
      background: $black;
      border-radius: 0.33rem;
      color: $white;
      font-weight: 700;
      font-size: 2rem;
      padding: 1rem 2rem;

      &:hover, &:focus {
        border: none;
        color: $gold-highlight;
      }
    }
  }
}
