// here's the fancy google font(s)
@import "https://fonts.googleapis.com/css?family=Montserrat:400,700|Rubik:400,700";

// typography & overrides
html {
  background-color: $white;
  color: $black;
  font-family: $content-font-family;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.45;
}

h1, h2, h3, h4 {
  font-family: $header-font-family;
  margin: 0 0 0.2em;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.157em;

  small {
    display: block;
    font-weight: 400;
  }
}

h2 {
  font-size: 2.369em;
}

h3 {
  font-size: 1.777em;
}

h4 {
  font-size: 1.333em;
}

p {
  margin: 0;
  padding: 0 0 1.5rem;

  &.button-bar {
    display: flex;
    justify-content: flex-end;
    padding: 2.5rem 0 0;
    width: 100%;
  }
}

a {
  background-color: $black;
  color: $white;
  text-decoration: none;
  display: inline-block;
  padding: 0.1em 0.2em;
  transition: all 0.1s ease;

  &:visited{
    background-color: $red;
    color: #f7efe4;
  }

  &:hover, &:active, &:focus {
    background-color: $teal-dark;
    color: $white;
    outline: none;
  }

  &.button {
    background: $teal-dark;
    border-radius: 0.33rem;
    font-weight: 700;
    color: $white;
    padding: 0.75rem 1.5rem;

    &:hover, &:focus {
      color: $gold-highlight;
    }
  }
}

small {
  font-size: 0.75em;
}
