// sizes & other variables
$header-font-family: "Rubik", "Helvetica Neue", Helvetica, sans-serif;
$content-font-family: "Montserrat", "Lato", "Helvetica Neue", Helvetica, sans-serif;
$narrow-column: 10rem;
$header-width: 100rem;
$content-width: 68rem;

// brand colors
$teal-dark: #13847C;
$peach: #F0CEA0;
$blue: #29335C;
$gold-light: #FBCA6C;
$gold-highlight: #F3A712;
$white: #fff;
$black: #29335C;
