%section#event
  .section-content
    %h2= titlelize("event")
    %hr
%section#presenters
  .section-content
    %h2= titlelize("presenters")
    %hr
%section#sponsors
  .section-content
    %h2= titlelize("sponsors")
    %hr
%section#code_of_conduct
  .section-content
    %h2 Code of Conduct (short version)
    %p
      Open Source & Feelings is dedicated to a safe, inclusive, welcoming,
      and harassment-free conference experience for everyone.
    %p
      All attendees, speakers, sponsors and volunteers at Open Source
      & Feelings are required to abide by the code of conduct.

    %h3 Need Help?
    %p
      Email the organizers at
      %a{ href:"mailto:conduct@osfeels.com" } conduct@osfeels.com
      or use the phone number found in the emails we send you.
    %p
      %a{ href: "/2018conduct" } Read the full version of our code of conduct

    %hr
-# %section#diversity_statement
-#   .section-content
-#     %h2= titlelize("diversity_statement")
-#     %hr
