.row.callouts.confetti.confetti--heart
  .col-md-8.col-md-offset-2
    %h2.blue= "#{page} Coming Soon"
    %p
      We're working on next year's conference. Check back soon, follow us on
      %a{ href: "https://twitter.com/osfeels" } Twitter
      , or sign up below for updates.

-# See also, jumbotron in layout
.confetti.confetti--lightning
  .row.newsletter
    .col-md-2
      %img.triangle{ src: "/images/triangle_confetti.png" }
    .col-md-8= partial :mailing_list
    .col-md-2
      %img.dot{ src: "/images/dot_confetti.png" }

