%footer
  %a{ href: "#top"} Back to top
  -# = partial :mailing_list
    %ul
      %li
        %a.confetti.inline.triangle{ href: "/conduct" } Code of Conduct
      %li
        %a.confetti.inline.smile{ href: "mailto:hello@osfeels.com" } hello@osfeels.com
      %li
        %a.confetti.inline.heart{ href: "https://twitter.com/OSFeels" } @OSFeels
