%footer
  %a{ href: "#top"} Back to top
  %br
  %a{ href: "/2018/conduct" } Code of Conduct
  %br
  %a{ href: "https://twitter.com/osfeels", target: "_blank" } @OSFeels
  %br
  %a{ href: "mailto:hello@osfeels.com" } hello@osfeels.com
