%footer.container
  = partial :mailing_list
  .row.text-center
    %ul
      %li
        %a.confetti.inline.triangle{ href: "/conduct" } Code of Conduct
      %li
        %a.confetti.inline.smile{ href: "mailto:hello@osfeels.com" } hello@osfeels.com
      %li
        %a.confetti.inline.heart{ href: "https://twitter.com/OSFeels" } @OSFeels
