.row.footer
  .col-md-12
    %ul
      %li
        %a.confetti.confetti--inline.confetti--triangle{ href: "/conduct" } Code of Conduct
      %li
        %a.confetti.confetti--inline.confetti--smile{ href: "mailto:hello@osfeels.com" } hello@osfeels.com
      %li
        %a.confetti.confetti--inline.confetti--heart{ href: "https://twitter.com/OSFeels" } @OSFeels
