:ruby
  same_page = %w(
    event
    presenters
    sponsors
    code_of_conduct
  )

  new_page = {
    "tickets"             => "",
    "prospectus"          => "/2018/prospectus",
    "diversity_statement" => "/2018/diversity-statement",
    "about"               => "/2018/about"
  }

%header
  %a#logo{ href: "/"}
    %img{ src: "/images/2018/robot.png", alt: "Feelsbot, the OS&F mascot" }
  .menu
    %h1
      Open Source & Feelings
      %span
        is a two-day, single-track conference about the intersection of
        software and the humanities, and how we engage with our communities.
    %nav#top{ "aria-label" => "Main Navigation" }
      %ul{ role: "menubar" }
        - same_page.each do |item|
          %li= link_to titlelize(item), "##{item}"
        - new_page.each do |item, path|
          %li= link_to titlelize(item), path
      -# %li= link_to "About", "/about"
      -# %li= link_to "Code of Conduct", "/conduct"
      -# %li= link_to "Diversity Statement", "/diversity"
      -# %li= link_to "Schedule", "/schedule"
      -# %li= link_to "Scholarships", "/scholarships"
      -# %li= link_to "Speakers", "/speakers"
      -# %li= link_to "Sponsors", "/sponsors"
      -# %li= link_to "Tickets", "https://ti.to/osfeels/open-source-feelings-2016", target: "_blank"
