:ruby
  links = {
    "event"           => "/2018/#event",
    "presenters"      => "/2018/#presenters",
    "code_of_conduct" => "/2018/conduct",
    "sponsorship"     => "/2018/#sponsorship",
    "tickets"         => "https://ti.to/osfeels/2018/"
  }

%header
  .exterior-header
    .exterior-logo
      %img{ src: "/images/2018/robot.png", alt: "Feelsbot, the OS&F mascot" }
    .exterior-lead
      %nav#top{ "aria-label" => "Main Navigation", "role" => "menubar" }
        - links.each do |item, path|
          = link_to titlelize(item), path, class: "nav-#{item}"
      %h1.exterior-masthead
        Open Source & Feelings
        %small
          is a two-day, single-track conference about the intersection of
          software and the humanities, and how we engage with our communities.
      .exterior-info
        %ul.exterior-info--event
          %li October 26 & 27, 2018
          %li Seattle Central Library
          %li Seattle, WA
        %a.exterior-info--tickets{ href: links["tickets"], target: "_blank" } Get Tickets
