.row.page--title.confetti.confetti--lightning
  .col-md-8.col-md-offset-2
    %h1.blue Venue Consideration Checklist
.row
  .col-md-8.col-md-offset-2
    :markdown
      - __Facility__
        - __Security/Maintenence__
          - Will venue provide staff person(s) day of event for coordination?
          - Who is contact in case of problems?
        - __Room(s)__
          - Number of individual meeting spaces
          - Capacity of each
          - Relative arrangement of rooms (are they close to each other)
          - Outdoor/shared space to facilitate hallway track
          - Rules regarding individual food and drink; i.e., can folks bring coffee into a presentation
          - Prep room for presenters?
          - Quiet room for attendees?
          - Private room(s) for nursing, taking phone calls, etc?
          - Seating
            - arrangement (tables vs desks vs pews)
            - customizability
        - __Accessbility Concerns__
          - necessary stairs?
          - elevators?
          - wheelchair entry & seating?
        - __Restrooms__
          - Restroom capacity?
          - Gender distribution?
          - Can we provide/convert to all gender restrooms?
          - Family restrooms?
        - __Systems__
          - number of accessible outlets in each room
          - Audio/Video capabilities
            - Built in?
            - Who provides?
            - Who supports?
            - Screens?
            - Mics?
            - Mixers/PA?
            - Recording capabilities?
            - Projectors and Screens
              - Adapters for laptops?
              - Audio patch cables?
            - Wifi?
              - Network type? a/b/g/n?
              - Uplink type? DSL? Cable? Fiber?
              - Number of access points?
              - Who supports?
              - Can it be expanded/reinforced for tech event?
        - __Setup & Teardown__
          - Who does it?
          - Who cleans?
          - When do we get access to facility (day of event)?
          - Can we get into venue the day/evening before for setup?
          - When are we required to be out of the facility?
        - __Garbage & Recycling__
          - How many receptacles for each?
          - Who empties? When?
        - __Greeting space__
          - Place for registration booth/tables?
          - Place to store badges, swag bags, tshirts, and similar?
          - Do we have to cover multiple entrances?
          - Can we hang signage in and around the facility?
        - __Sponsors__
          - Place for sponsor booths?
            - How many?
            - How big?
            - Where, in relation to presentations and events?
          - Able to hang banners?
            - Where?
            - How many?
            - What sizes?
            - Does facility provide hanging hardware?
        - __Catering__
          - What are the rules for providing meals?
          - Preferred/required providers?
          - Place to setup/serve food?
          - Place for attendees to eat?
      - __Neighborhood__
        - Walk score
        - Relative safety (street lighting, sidewalks)
        - Public Transportation
          - Types (bus, ferry, light rail, etc)
          - Cost
          - Hours of access
        - Access to amenities
          - Housing/Hotels?
          - Restaurants?
          - Parking?
          - Event space for conf-sponsored and ad hoc gatherings?
        - Does it show off what we love about Seattle?
