.index
  .row.callout
    %h2.teal Check out the OSFeels Podcast!
    %p.purple.text-center
      Laugh, cry, and learn as OSFeels organizers Jeremy Flores and Kerri Miller have conversations with this year's speakers.
      %br
      %br
      <a href="https://itunes.apple.com/us/podcast/open-source-feelings-2016/id1123699344">Click</a> to see more podcast info.

  .row.callout
    %h2.teal Where & When
    %p.purple.text-center
      Friday & Saturday
      %br
      %strong July 22nd & 23rd, 2016
    %address.purple.text-center
      %a{ href: "http://wp.seattlecentral.edu/broadway-performance-hall/" }
        %strong Broadway Performance Hall
      %br
      1625 Broadway
      = link_to "(map)", "https://www.openstreetmap.org/way/137775893#map=14/47.6140/-122.3227&layers=H", class: "pink"
      %br
      Seattle, WA

  .row
    .col-3
      .item
        %h2.teal.text-left Why Open Source?
        %p While successful from a technical or business perspective, on the human side of things, the promise of the Open Source Software community has gone unfulfilled. Open Source culture, left to grow untended, has been co-opted, diluted, and leaves too many individuals behind. It is a garden in need of tending, with too few gardeners available—we want to change that.
      .item
        %h2.yellow.text-left Why Feelings?
        %p Writing software can be emotionally difficult. Some of us talk about it with others, but many of us don’t, or aren’t encouraged to share. We need to be sharing our struggles, however, as we are the most natural support for each other. Being supportive and using this support takes practice and it takes intention.
      .item
        %h2.purple.text-left Why Open Source & Feelings?
        %p Open Source & Feelings is about the intersection between software and the humanities, and how we engage with the communities we're a part of. It is about deliberative crafting of its culture into what we want it to be, about developing strategies, skills, and solutions in order work as a community.
