.row.page--title.confetti.confetti--smile
  .col-md-8.col-md-offset-2
    %h1.pink Previous Speakers
    %p Thanks to all of the amazing speakers who have presented at OS Feels! Click a speaker's name to view talk descriptions, speaker information, and video links.

- sort_by_name(data.previous_speakers).each do |conference|
  .row.confetti.confetti--heart
    %h2.blue 2015
    - conference[:speakers].each do |speaker|
      .col-md-8.col-md-offset-2
        %p.text-center=link_to speaker[:name], "/previous-speakers/#{conference[:year]}/#{generate_slug(speaker[:name])}"
