.row
  %h1.pink Previous Speakers
  %p Thanks to all of the amazing speakers who have presented at previous Open Source & Feelings! Click a speaker's name to view talk descriptions, speaker information, and video links.

- data.previous_speakers.each do |conference|
  .row.confetti.heart
    %h2.blue= conference.year
    - sort_by_name(conference.speakers).each do |speaker|
      .col-md-8.col-md-offset-2
        %p.text-center=link_to speaker[:name], "/previous-speakers/#{conference[:year]}/#{generate_slug(speaker[:name])}"
