.row.page--title.confetti.confetti--smile
	.col-md-8.col-md-offset-2
	%h1.pink Prospectus
.row.prospectus
	.col-md-8.col-md-offset-2
		:markdown 
			<h3 class="blue">Event Details</h3>
			<b>When:</b> July 2016	
			
			<b>Size:</b> Approximately 200 attendees
			
			<b>Venue:</b> Broadway Performance Hall, 1625 Broadway, Seattle, WA 98122
			<br>
			<br>

			<h3 class="blue">Why become a sponsor?</h3>
			
			<ul>
			<li>Warm feelings in your heart!</li>
			<li>Reach new potential customers, employees, and collaborators.</li>
			<li>Strengthen your bond to the Open source community.</li>
			<li>Create inclusive tech culture.</li>
			</ul>
			<br>
			<br>

			<h3 class="blue">What is Open Source and Feelings?</h3>

			<p>Open Source and Feelings (OS&F) is a conference dedicated to authentically designing and reshaping a supportive, inclusive, open source culture – to uncover and implement design patterns for a vibrant, skilled, and interdependent community.</p>


			<p>OS&F is not a typical tech conference. Both our code and ourselves must be open in order to create the Open Source we need, and this conference is here to facilitate just that. Essentially, OS&F is for technologists looking to build their people skills, and people looking to build their tech skills.</p> 

			<p>For our first year of this conference, we were fortunate to have a diverse group of presenters discuss a wide range of topics. 2015 presentation videos may be found <a href="http://confreaks.tv/conferences/open-source-&-feelings">here</a>. We hope you will join in helping us maintain this conversational momentum.</p>


			<p>The participation and support of companies like yours is an important part of making OS&F a success. Our sponsors are part of the conference as much as the attendees, and we want to work with you to make OS&F a rewarding experience for you. Below are details on our sponsorship tiers. If you have different ideas about how you would like to be involved, let us know. We’ll be happy to work with you to design a sponsorship package that fits you.</p>

			<p>If you are interested in sponsoring the Open Source & Feelings 2016 conference, please contact our sponsorship team at <a href="mailto:sponsorship@opensourceandfeelings.com">sponsorship@opensourceandfeelings.com</a>.</p>

			<p>Thank You,</p>
			<p>The Open Source & Feelings organizers</p>
			<br>
			<br>

			<h3 class="blue">2016 Sponsorship Packages</h3>
				￼￼
			<h4 style="text-align:left" class="purple">Contributor - $1000</h4>
			<ul>
			<li>Name and URL included in email blasts</li>
			<li>Logo included on video recordings Add swag to the swag bags</li>
			<li>Thanked by name at the beginning of each day on stage.</li>
			<li>Tweet thank you from OS&F twitter account</li>
			<li>1 ticket total</li>
			</ul>
			<br>
			<br>

			<h4 style="text-align:left" class="purple">Committer - $3000</h4>
			<p>All Contributor benefits plus: In-venue presence, such as:</p>
			<ul>
			<li>Access to dedicated space to engage with attendees</li>
			<li>Signage (banner, poster, etc)</li>
			<li>Branded slides between talks</li>
			<li>3 tickets total</li>
			</ul>
			<br>
			<br>

			<h4 style="text-align:left" class="purple">Maintainer - $6,000</h4>
			<p>All Committer benefits plus:</p>
			<ul>
			<li>Special event named for your company, such as:</li>
			<ul>
			<li>Breakfast or Lunch</li>
			<li>Speaker's Dinner</li> 
			<li>Attendee Party</li>
			</ul>
			<li>Your logo on the swag bag</li>
			<li>6 tickets total</li>
			</ul>
			<br>
			<br>
