.prospectus
  .row.page-title
    %h1 Prospectus

  .row
    %h3.teal Event Details
    %table
      %tbody
        %tr
          %td
            %strong When:
          %td Friday, July 22nd - Saturday, July 23rd, 2016
        %tr
          %td
            %strong Size:
          %td Approximately 200 attendees
        %tr
          %td
            %strong Venue:
          %td Broadway Performance Hall, 1625 Broadway, Seattle, WA 98122

  .row
    %h3.teal Why become a sponsor?
    %ul
      %li Warm feelings in your heart!
      %li Reach new potential customers, employees, and collaborators.
      %li Strengthen your bond to the Open Source community.
      %li Create inclusive tech culture.

  .row
    %h3.teal What is Open Source & Feelings?
    %p Open Source & Feelings (OS&F) is a conference dedicated to authentically designing and reshaping a supportive, inclusive, open source culture – to uncover and implement design patterns for a vibrant, skilled, and interdependent community.
    %p OS&F is not a typical tech conference. Both our code and ourselves must be open in order to create the Open Source we need, and this conference is here to facilitate just that. Essentially, OS&F is for technologists looking to build their people skills, and people looking to build their tech skills.
    %p For our first year of this conference, we were fortunate to have a diverse group of presenters discuss a wide range of topics. 2015 presentation videos may be found <a href="http://confreaks.tv/conferences/open-source-&-feelings">here</a>. We hope you will join in helping us maintain this conversational momentum.
    %p The participation and support of companies like yours is an important part of making OS&F a success. Our sponsors are part of the conference as much as the attendees, and we want to work with you to make OS&F a rewarding experience for you. Below are details on our sponsorship tiers. If you have different ideas about how you would like to be involved, let us know. We’ll be happy to work with you to design a sponsorship package that fits you.
    %p If you are interested in sponsoring the Open Source & Feelings 2016 conference, please contact our sponsorship team at <a href="mailto:sponsorship@osfeels.com">sponsorship@osfeels.com</a>.
    %p Thank You,
    %p The Open Source & Feelings organizers

  .row
    %h3.teal 2016 Sponsorship Packages

    %h4.purple.text-left Contributor - $1000
    %ul
      %li Name and URL included in email blasts
      %li Logo included on video recordings
      %li Able to add swag to the swag bags
      %li Thanked by name at the beginning of each day on stage.
      %li Tweet thank you from OS&F twitter account
      %li 1 ticket total

    %h4.purple.text-left Committer - $3000
    %p All Contributor benefits plus: In-venue presence, such as:
    %ul
      %li Access to dedicated space to engage with attendees
      %li Signage (banner, poster, etc)
      %li Branded slides between talks
      %li 3 tickets total

    %h4.purple.text-left Maintainer - $6,000
    %p All Committer benefits plus:
    %ul
      %li Special event named for your company, such as:
      %ul
        %li Breakfast or Lunch
        %li Speaker's Dinner
        %li Attendee Party
        %li Your logo on the swag bag
        %li 6 tickets total
