.scholarship
  .row.page-title
    %h1 Scholarships

  .row
    %p We at OSFeels 2016 are committed to ensuring that this event is accessible for everyone. To help in this effort, we offer scholarships to those who need economic assistance who live in the contiguous United States.
    
    %p This year we are offering two scholarship types depending on where you live:

    %h4.teal.text-left Seattle City Scholarship Award  (10 total)
    %ul
      %li 1 conference ticket
      %li $40 to spend on public transit and lunch for both days of the conference

    %h4.teal.text-left United States Scholarship Award  (6 total)
    %ul
      %li 1 conference ticket
      %li $200 to assist with travel, accommodations, and lunch 

    %p <b>The scholarship application submission process is now closed.</b> Thanks to all who took the time to apply for a scholarship for the 2016 conference. We will be in contact with you in the next few days!
    %p If you would like to become a Travel/Scholarship sponsor, please visit our <a href="http://www.osfeels.com/prospectus" target=_blank>Prospectus</a>.
    %p Thank you!
    %p The Open Source & Feelings Organizers