.scholarship
  .row.page-title
    %h1 Scholarships

  .row
    %p The Open Source & Feelings Conference is committed to ensuring that this event is accessible for everyone. To help in this effort, we are offering scholarships to those that who need economic assistance.
    
    %h4.teal.text-left Included with the 2016 Conference Scholarship Award  (X total)
    %ul
      %li 1 conference ticket
      %li $100 to assist with travel/room costs

    %p If you would like to apply for a scholarship, please fill out our <a href="https://docs.google.com/forms/d/1-gietrc9S4NxhSM22YUcmszhugjIAhz-zl268xNXt9E/viewform" target=_blank>application form</a>.
    %p Thank You,
    %p The Open Source & Feelings Organizers!